<%= form_with(model: employee, local: true) do |f| %>

  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- Table for input fields with appropriate field type -->
	<table border="0" cellspacing="5" cellpadding="5">
		<tr valign="top">
			<td>
				<h4 class="f44336 red-text">Employee Details:</h4>
				

		  	
				<div class="input-field">
				<%= f.label :first_name %>
				<%= f.text_field :first_name %>
				</div>
				<div class="input-field">
				<%= f.label :last_name %>
				<%= f.text_field :last_name %>
				</div>
			  
			  <div class="input-field">
				<%= f.label :ssn %>
				<%= f.number_field :ssn %>
			</div>

			  <div class="input-field">
          		<%= f.label :date_of_birth %>
          		<%= f.text_field :date_of_birth, prompt: "Date of Birth", class: "datepicker", :value => (f.object.date_of_birth.strftime('%B %d, %Y') if f.object.date_of_birth != nil)%>
            </div>

				<div class="input-field">
				<%= f.label :phone %>
				<%= f.number_field :phone %>
			</div>
			
			<div class="input-field">
				<%= f.label :role %>
				<%= f.text_field :role %>
			</div>
			
			<div class="input-field">
		    <%= f.label :active %><br>
		    <%= f.select :active, [['Yes', true], ['No', false]]  %>
			</div>
			
				<br>
				<div class="field">
						
		    <%= f.label :email %>
		    <%= f.text_field :email, id: :user_email %>
		  	</div>

			  	<div class="field">
			    <%= f.label :password %>
			    <%= f.text_field :password, id: :user_password %>
			 		</div>
	
				
			  <div class="actions">
			  <%= f.submit :class=>"waves-effect waves-red deep-orange darken-4 hoverable btn white-text" %>
			  <%= link_to 'Cancel', employees_path, :class => 'waves-effect waves-red deep-orange darken-4 hoverable btn white-text' %>
			  </div>
			</td>
		</tr>
	</table>
<% end %>