<%= form_with(model: assignment, local: true) do |f| %>

  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- Table for input fields with appropriate field type -->

	<table border="0" cellspacing="5" cellpadding="5">
		<tr valign="top">
			<td>
				<h4 class="f44336 red-text">Assignment Details:</h4>
				<div class="input-field">
          		<%= f.label :start_date %>
          		<%= f.text_field :start_date, prompt: "Start Date", class: "datepicker", :value => (f.object.start_date.strftime('%B %d, %Y') if f.object.start_date != nil)%>
            </div>
            <div class="input-field">
          		<%= f.label :end_date %>
          		<%= f.text_field :end_date, prompt: "End Date", class: "datepicker", :value => (f.object.end_date.strftime('%B %d, %Y') if f.object.end_date != nil)%>
            </div>
      				<div class="input-field">
      				<%= f.label :pay_level %>
      				<%= f.number_field :pay_level %>
      				</div>
			    	<div class="input-field">
            <%= f.label :store_id %>
            <%= f.text_field :store_id %>
            </div>
          
            <div class="input-field">
            <%= f.label :employee_id %>
            <%= f.text_field :employee_id %>
            </div>
			  <div class="actions">
			  <%= f.submit :class=>"waves-effect waves-red deep-orange darken-4 hoverable btn white-text" %>
			  <%= link_to 'Cancel', assignments_path, :class => 'waves-effect waves-red deep-orange darken-4 hoverable btn white-text' %>
			  </div>
			</td>
		</tr>
	</table>
<% end %>