<h1 class="#3f51b5 indigo-text">Stores</h1>

<table class="striped"> 
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Active</th>
        <th></th>
    <th></th>
  </tr>
    
    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store.name, store_path(store) %></td>

        <td><%= store.street %></td>
        <td><%= store.city %></td>
        <td><%= store.state %></td>
        <td><%= store.zip %></td>
        <td><%= store.phone %></td>
        <td><%= store.active %></td>

        <td><%= link_to 'Edit', edit_store_path(store), :class=> "waves-effect waves-light btn light-blue" %></td>
    <td><%= link_to 'Destroy', store,  confirm: 'Are you sure?', method: :delete, :class=> "waves-effect waves-light btn red" %></td>
      </tr>
    <% end %>
</table>

<td><%= link_to 'New Store', new_store_path, :class=> "waves-effect waves-light btn-large"%></td>