<div class="container col s12">
    <div class="row">
        <div class="row">                            
            <h1 class= "f#3f51b5 indigo-text">Welcome to the Creamery!</h1>
                <div class="row">
                    <div class="row">
                </div>
        <!-- Page Content goes here -->
        
        <!-- Card for Links to organise and use for design -->
    <div class="row">
      <div class="col s12 m4">
        <div class="card-panel blue lighten-4">
          <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_store_path %>>New Store</a></li>
            <br></br>
                <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= stores_path %>>List All</a></li>
              </div>
            </div>
          <div class="col s12 m4">
        <div class="card-panel blue lighten-4">
            <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_employee_path %>>New Employee</a></li>
            <br></br>
            <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= employees_path %>>List All</a></li>
        </div>
    </div>
      <div class="col s12 m4">
        <div class="card-panel blue lighten-4">
          <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_assignment_path %>>New Assignment</a></li>
            <br></br>
            <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= assignments_path %>>List All</a></li>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
        
        

      
