
<div class="container col s12">
    <div class="row">
        <div class="row">                            
            <h1 class= "f#3f51b5 indigo-text">Welcome To A &amp; M Creamery</h1>
                <div class="row">
                    <div class="container col s12">
                      	<p>
			A &amp; M Creamery is one of the smallest, but absolutely best, chain of 
			ice cream shops we know in the Greater Pittsburgh area.
			You should come to one of our stores and buy lots of our ice cream now.  
			Our ice cream is delicious, nutritious and amazing in every way.  
			Why are you still reading this?  You should be down here buying ice 
			cream right now.  Stop reading and get your backside moving to an 
			A &amp; M Creamery store now.  
			(Still reading? What are you waiting for?)
		</p>
                </div>
        <!-- Page Content goes here -->
        
        <!-- Card for Links to organise and use for design -->
    <div class="row">
      <div class="col s12 m4">
        <div class="card-panel pink lighten-4">
          <div class="card-image">
            <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmJifQ6X4vAi1inx--Gr6QuwgC8Jwd-AxMQxEPvFZgVNL-M4L4dQ">
          </div>
          <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_store_path %>>New Store</a></li>
            <br></br>
                <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= stores_path %>>List All</a></li>
              </div>
            </div>
          <div class="col s12 m4">
        <div class="card-panel pink lighten-4">
          <div class="card-image">
            <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRwtHHGcepp6GXl7eKnKz5YPMQAOmHZwNWqwlDxR0w69ocDb1e">
          </div>
            <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_employee_path %>>New Employee</a></li>
            <br></br>
            <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= employees_path %>>List All</a></li>
        </div>
    </div>
      <div class="col s12 m4">
        <div class="card-panel pink lighten-4">
          <div class="card-image">
            <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMK4TahRRKVUrizf0A__Of1HXB0VwgGvwzIms0f7i0m1h_jDse">
          </div>
          <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_assignment_path %>>New Assignment</a></li>
            <br></br>
            <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= assignments_path %>>List All</a></li>
            </div>
        </div>
    </div>
        
    <div class="row">
      <div class="col s12 m4">
        <div class="card-panel pink lighten-4">
          <div class="card-image">
            <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs_VN7-zaWt7leGFhePURr-NoIsRq1gP77h-lnp8HitZbpKqQn">
          </div>
          <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_job_path %>>New Job</a></li>
            <br></br>
                <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= jobs_path %>>List All</a></li>
              </div>
            </div>
          <div class="col s12 m4">
        <div class="card-panel pink lighten-4">
          <div class="card-image">
            <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBy94Z42KYD94LPX17BfJ4fPYfmpPDR7ia8_l2atHAS1S7Vs9x">
          </div>
            <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_flavor_path %>>New Flavor</a></li>
            <br></br>
            <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= flavors_path %>>List All</a></li>
        </div>
    </div>
      <div class="col s12 m4">
        <div class="card-panel pink lighten-4">
          <div class="card-image">
            <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR44R1_bmEMv2vzTZzI-5lvj8xxUlBruxa_Nlr_VcbHSjzMLF6y">
          </div>
          <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_shift_path %>>New Shift</a></li>
            <br></br>
            <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= shifts_path %>>List All</a></li>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
        
        

      
