<!DOCTYPE html>
<html>
<head>
  <title>Homepage>The Amazing & Marvelous Creamery :: <%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTV2YhUctMpCuSbt-wdypqW7MjuQ5WLbmr48iA7_vYstzGXslgnGQ">
    
  <% if logged_in? %>
  
  <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
      <li><%= link_to "List of Assignments", assignments_path %></li>
      <li><%= link_to "Current Assignments", current_assignments_path %></li>
      <li><%= link_to "Add an Assignment", new_assignment_path %></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
      <li><%= link_to "List of Employees", employees_path %></li>
      <li><%= link_to "Active Employees", active_employees_path %></li>
      <li><%= link_to "Add an Employee", new_employee_path %></li>
</ul>
<ul id="dropdown3" class="dropdown-content">
      <li><%= link_to "List of Stores", stores_path %></li>
      <li><%= link_to "Inactive Stores", inactive_stores_path %></li>
      <li><%= link_to "Add a Store", new_store_path %></li>
</ul>
<ul id="dropdown4" class="dropdown-content">
      <li><%= link_to "List of Jobs", jobs_path %></li>
      <li><%= link_to "Add a Job", new_job_path %></li>
</ul>
<ul id="dropdown5" class="dropdown-content">
    <li><%= link_to "List of Flavors", flavors_path %></li>
    <li><%= link_to "Active Flavors", active_flavors_flavors_path %></li>
    <li><%= link_to "Add a Flavor", new_flavor_path %></li>
</ul>
<ul id="dropdown6" class="dropdown-content">
      <li><%= link_to "List of Shifts", shifts_path %></li>
      <li><%= link_to "Add a Shift", new_shift_path %></li>
</ul>
<nav>
    <div class="nav-wrapper, f44336 red">
&nbsp&nbsp
<a href="/" class="brand-logo">The Amazing & Marvelous Creamery</a>
<ul class="right">
<!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="/assignments" data-activates="dropdown1">Assignments<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="/employees" data-activates="dropdown2">Employees<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="/stores" data-activates="dropdown3">Stores<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="/jobs" data-activates="dropdown4">Jobs<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="/flavors" data-activates="dropdown5">Flavors<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="/shifts" data-activates="dropdown6">Shifts<i class="material-icons right">arrow_drop_down</i></a></li>

</ul>
</div>
<% end %> 

<% if current_user=nil %>
<nav>
<div class="nav-wrapper, f44336 red">
&nbsp&nbsp
</div>
</nav>
<% end %> 

</nav>
<div class="row">
<div class="col s12 center">
<!-- MAIN CONTENT GOES HERE -->
<%= yield %>
</div>


<!-- SIDEBAR CONTENT GOES HERE -->
<!-- <%= render partial: 'partials/quick_links' %> -->

</div>
<footer>
<div class="row center">

 <%= render partial: 'partials/footer' %>

</div>
</footer>
</body>
<%= javascript_include_tag "application" %>
<% flash.each do |message_type, message| %>
<%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
<% end %>
</html>